SPACES_ACCESS_KEY_ID={{ spaces_access_key_id }}
SPACES_SECRET_ACCESS_KEY={{ spaces_secret_access_key }}
SPACES_REGION={{ spaces_region }}
SPACES_BUCKET={{ backup_bucket }}
REVIEWLENS_DB_PASSWORD={{ db_password }}
REVIEWLENS_DB_USER={{ db_user | default('review_lens') }}
REVIEWLENS_DB_NAME={{ db_name | default('review_lens_production') }}
